[Desktop Entry]
Categories=System;
Comment=rEFInd Customization GUI
Exec=/etc/rEFInd/rEFInd_GUI
GenericName=rEFInd GUI
Name=rEFInd GUI
Path=/etc/rEFInd
Icon=HOME/.local/rEFInd_GUI/GUI/UEFI_icon.png
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
